*{
  
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(67, 99, 71);
    text-align: center;
}


.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     text-align: center;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     text-align: center;
}


.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 ,0 ,1rem rgba(0,0,0,1);
    font-size: 8vmin;
    color: rgb(146, 40, 40);
    background-color: rgb(228, 228, 181);
}

.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(28, 24, 24);
    color: white;
    border-radius: 1rem;
    border: none;
}


.new{
padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(28, 24, 24);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 5vmin;
    color: rgb(228, 228, 181);
}


.msgcontener{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}